<%- include('header'); -%>

<h2 style="text-align: center;">This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio explicabo, dignissimos, obcaecati minima hic earum sint nesciunt distinctio provident fuga ipsam voluptatum.</p>


<%- include('footer'); -%>